<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" 
xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.jp.plugin.instagram"
    version="1.0.0">
    <name>Instagram</name>
    <description>Share your images and videos on instagram</description>
    <license>Apache 2.0</license>
    <keywords>instagram</keywords>
    <repo></repo>
    <issue></issue>
    <js-module src="www/instagram.js" name="Instagram">
        <clobbers target="instagram" />
    </js-module>
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Instagram" >
                <param name="android-package" value="com.jp.plugin.instagram.Instagram"/>
            </feature>
        </config-file>
        <source-file src="src/android/com/jp/plugin/instagram/Instagram.java" target-dir="src/com/jp/plugin/instagram" />
    </platform>
</plugin>